<div class="header">toastr configurator</div>
<div class="page" (keydown)="onKeyDownEvent($event)">
  <div class="title">Text</div>
  <div class="page_input">
    <app-input #titleInput [label]="'title'" (onDatePicked)="handleTitle($event)"></app-input>
    <app-input #contentInput [label]="'content'" (onDatePicked)="handleContent($event)"></app-input>
  </div>

  <div class="title">Status</div>
  <div class="page_color">
    <div class="page_color__item" 
    [ngStyle]="{'background': 'blue', 'opacity': (form.status == 'success') ? '1' : '0.5'}" 
    (click)="form.status = 'success'">
      <app-icon [type]="'success'"></app-icon>
      Success
    </div>
    <div class="page_color__item" 
    [ngStyle]="{'background': 'red', 'opacity': (form.status == 'warning') ? '1' : '0.5'}" 
    (click)="form.status = 'warning'">
      <app-icon [type]="'warning'"></app-icon>
      Warning
    </div>
  </div>

  <div class="title">Position</div>
  <div class="page_position">
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'top') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('top')" >top</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'bottom') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('bottom')" >bottom</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'left') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('left')" >left</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'right') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('right')" >right</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'top-left') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('top-left')" >top-left</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'top-right') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('top-right')" >top-right</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'bottom-left') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('bottom-left')" >bottom-left</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'bottom-right') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('bottom-right')" >bottom-right</div>
    <div class="page_position__item" [ngStyle]="{'box-shadow' : (form.position == 'center') ? 'inset 0 0 0 2px #000' : ''}" (click)="selectedPosition('center')" >center</div>
  </div>

  <div class="title">Additional</div>
  <div class="page_position">
    <div class="page_position__item" 
    [ngStyle]="{'box-shadow' : (form.showTitle) ? 'inset 0 0 0 2px #000' : ''}"
    (click)="form.showTitle = !form.showTitle" >show title</div>
    <div class="page_position__item"
    [ngStyle]="{'box-shadow' : (form.allowClose) ? 'inset 0 0 0 2px #000' : ''}"
    (click)="form.allowClose = !form.allowClose" 
    >allow to close</div>
    <div class="page_position__item">set duration</div>
  </div>

  <div class="page_button">
    <app-button (click)="onSubmit()" [title]="'see the result'"></app-button>
    <div class="page_button__additional">
      <span>or press Enter</span>
      <app-icon [type]="'happy'"></app-icon>
    </div>
  </div>
</div>

<app-toastr-wrapper></app-toastr-wrapper>